<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../js_css/style.css">
<title>Help</title>
</head>
<body>
<h1 class="title" style="margin-top: 50px;">SOFTWARE VERIFICATION</h1>
<br/>
<p>
Contributors of Verification Site:<br/>
<ul type = square>
	<li>Web Interface : 
		<ul type = disc>
			<li>Nguyen Nhu An</li>
		</ul>
	<br />
	<li>Solving real number problems : 
		<ul type = disc>
			<li>Nguyen Duc Thien</li>
		</ul>
	<br />
	<li>Solving exercises : 
		<ul type = disc>
			<li>Doan Thanh Nam</li>
		</ul>
	<br />
	<li>Model Checking - Counter example generating: 
		<ul type = disc>
			<li>Hoang Le Nghia Duc</li>
		</ul>
</ul>
</p>
</body>
