<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../js_css/style.css">
<title>Help</title>
</head>
<body>
<h1 class="title">SOFTWARE VERIFICATION</h1>
<p>
1. Some main features:<br/>
- Feedback: for users to leave their comments. <br />
- Help: user's manual. <br/>
- Change password : changing the user's current password. <br/>
<br/>
<br/>
2. User's guide:<br/>
- Only registered user can login to the site.<br/>
- Each account has default password and username which are student code. Before login, you must change your password to which is different from your student code.<br/>
- After login, the homepage contains a list of exercises.<br/>
<br />
<br/>
3. Contact:<br />
- For all technical problems, please contact with: <a href="mailto:luonghoaixuan@gmail.com?subject=Report bug">luonghoaixuan@gmail.com</a>
to fix bugs.<br/>
</p>
</body>
